#nav {
  background-color:#000D41;
  color:#FF6867;
}

#logo {
  color:#FF6867;
  text-align:center;
  font-family:'Carrois Gothic SC';
}

.fill {
}

#main {
	background-color: #2f527b;
	border:0;
	max-width:98%;
	padding-right:0px;
	margin-right:0px;
}

.Login {
	background:transparent;
	border:0;
	font-size:1.5em;
	margin-top:1em;
  	font-family:'Carrois Gothic SC';
}

.Help {
	background:transparent;
	border:0;
	font-size:1.5em;
	margin-top:1em;
  	font-family:'Carrois Gothic SC';
}

#Queue {
  border-radius:25px;
  height:60vh;
  margin-top:50px;
  background-color:#000D41;
  box-shadow: 0 2px 5px 0 rgba(244, 104, 66,0.16),0 2px 10px 0 rgba(244, 104, 66,0.12);
}

.searchInput {
	margin-top:0.5em;
	margin-left:3vw;
	margin-right:3vw;
	margin-bottom:1em;
}

#Search {
  box-shadow: 0 2px 5px 0 rgba(244, 104, 66,0.16),0 2px 10px 0 rgba(244, 104, 66,0.12);
  border-radius:25px;
  height:60vh;
  margin-top:50px;
  background-color:#000D41;
  overflow-y:hidden;
  overflow-x:hidden;
}

#SearchResults {
	width:100%;
	height:100%;
	overflow-y:hidden;
	overflow-x:hidden;
}


.resultList {
	width:100%;
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}

.ResultPic {
	height:2.5em;
	width:2.5em;
	max-height:100%;
	max-width:100%;
}

.ResultTitle {
	font-family:'Carrois Gothic SC';
	color:white;
	margin-left:2.7em;
	overflow-y:hidden;
}

.SearchResult { 
	width:20em;
	height:2.5em;
}

.QueuedSong {
  background-image: url(http://images.genius.com/b17a54d05a3de269cc6ea53c3f71f73e.1000x1000x1.jpg);
  background-size: fill;
  background-repeat: no-repeat;
  height:fill;
  padding:0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline-block;
  margin: 2em 1em 1em 0;
  padding: 0;
  position: relative;
  width:15%;
  
}

.QueuedSongMain {
  background-image: url(http://images.genius.com/b17a54d05a3de269cc6ea53c3f71f73e.1000x1000x1.jpg);
  margin-left:2%;
  margin-right:1%;
  margin-top:1%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0 1em 1em 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 20%;
}

.SongDisplay {
  height:fill;
  width:fill;
}

.SongPic {
  max-height:100%;
  max-width:100%;
}

.SongBar {
  height:20%;
  width:fill;
  font-size:0.75vw;
  background-color:#011F53;
}

.QueueRow {
  width:fill;
  height:40%;
  margin-top:17%;
  margin: 7em 0 0 2em;
  margin-left:3em;
  background-color:#000D41;
  padding: 0;
  position: relative;
}

.Like {
  text-align:center;
  background-color:#FFFFFF;
  width:50%;
  height:100%;
}

.Dislike {
  text-align:center;
  background-color:#FFFFFF;
  width:50%;
  height:100%;
}

#KB {
	width:40em;
	height:40em;
}

.SearchButton {
	margin-left:1em;
	color:#FF6867;
}

#SearchInput {
	border-radius:4px;
}
